(
    beverages: {
        // Ingredients
        "wine": (name: "Wine", texture: "Wine"),
        "beer": (name: "Beer", texture: "Beer"),
        "cider": (name: "Cider", texture: "Cider"),

        "milk": (name: "Milk", texture: "Milk"),
        "stagnant_water": (name: "Stagnant Water", texture: "StagnantWater"),
        "unicorn_tear": (name: "Unicorn Tear", texture: "Unicorn Tear"),

        // "brandy": (name: "Brandy", texture: ""),
        // "fairy_wing_powder": (name: "Fairy Wing Powder", texture: ""),
        // "stardust": (name: "Stardust", texture: ""),
        // "mandrake_root": (name: "Mandrake Root", texture: ""),

        // Recipes
        "beer_butter": (name: "Butterbeer", texture: "Strong Beer"),
        "apple_wine": (name: "Apple Wine", texture: "AppleWine"),
        "strong_wine": (name: "Strong Wine", texture: "StrongWine"),
        "love_potion": (name: "Love Potion", texture: "LovePotion"),
        // "invisibility_potion": (name: "Invisibility Potion", texture: ""),
        // "luck_potion": (name: "Luck Potion", texture: ""),
        // "strength_elixir": (name: "Strength Elixir", texture: ""),
        "hopped_cider": (name: "Hopped Cider", texture: "HoppedCider"),
        // "strong_beer": (name: "Strong Beer", texture: "Strong Beer"),
        // "strong_apple": (name: "Strong Apple", texture: ""),
        // "healing_elixir": (name: "Healing Elixir", texture: ""),
        // "sleep_potion": (name: "Sleep Potion", texture: ""),
    },

    recipes: {
        ("wine", "beer"): "beer_butter",
        ("wine", "cider"): "apple_wine",
        // ("wine", "brandy"): "strong_wine",
        ("wine", "milk"): "stagnant_water",
        ("wine", "unicorn_tear"): "love_potion",
        // ("wine", "fairy_wing_powder"): "invisibility_potion",
        // ("wine", "stardust"): "luck_potion",
        // ("wine", "mandrake_root"): "strength_elixir",
        ("beer", "cider"): "hopped_cider",
        // ("beer", "brandy"): "strong_beer",
        ("beer", "milk"): "stagnant_water",
        ("beer", "unicorn_tear"): "love_potion",
        // ("beer", "fairy_wing_powder"): "invisibility_potion",
        // ("beer", "stardust"): "luck_potion",
        // ("beer", "mandrake_root"): "strength_elixir",
        // ("cider", "brandy"): "strong_apple",
        ("cider", "milk"): "stagnant_water",
        ("cider", "unicorn_tear"): "love_potion",
        // ("cider", "fairy_wing_powder"): "invisibility_potion",
        // ("cider", "stardust"): "luck_potion",
        // ("cider", "mandrake_root"): "strength_elixir",
        // ("brandy", "milk"): "stagnant_water",
        //("brandy", "unicorn_tear"): "love_potion",
        // ("brandy", "fairy_wing_powder"): "invisibility_potion",
        // ("brandy", "stardust"): "luck_potion",
        // ("brandy", "mandrake_root"): "strength_elixir",
        ("milk", "unicorn_tear"): "love_potion",
        // ("milk", "fairy_wing_powder"): "invisibility_potion",
        // ("milk", "stardust"): "luck_potion",
        // ("milk", "mandrake_root"): "strength_elixir",
        // ("unicorn_tear", "fairy_wing_powder"): "healing_elixir",
        // ("unicorn_tear", "stardust"): "healing_elixir",
        // ("unicorn_tear", "mandrake_root"): "healing_elixir",
        // ("fairy_wing_powder", "stardust"): "sleep_potion",
        // ("fairy_wing_powder", "mandrake_root"): "sleep_potion",
        // ("stardust", "mandrake_root"): "sleep_potion",
    },
)
